<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form class="form-5 clearfix" id='loginForm' action="login/login" method="POST">
        <table class="table table-hover">
            <tr><td>Enter email: </td><td><input type='text' name='username' id='username'></td></tr>
            <tr><td>Enter Password:</td><td><input type='password' name='password' id='password'></td></tr>
             <tr><td colspan="2"><button type="submit" name="submit" id="loginBtn">Login</button></td></tr>
            <td><a href="/registration">Sign up</a></td></tr>
        </form>
        </table>
    </body>
</html>